
.container {
  width: 100%;
  padding: 60px 0 120px;
}
.slide-container {
  margin: 0;
  overflow: hidden;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  overflow: hidden;
}
.card img {
  width: 400px;
  height: auto;
}

.swiper-pagination-bullet {
  background-color: #333;
}

